apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  namespace: unifiappay
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pix-db
  template:
    metadata:
      labels:
        app: pix-db
    spec:
      containers:
      - name: postgres
        image: postgres:14-alpine
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: "pix"
        - name: POSTGRES_USER
          value: "fiap"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: DB_PASSWORD
        volumeMounts:
        - name: db-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: db-storage
        persistentVolumeClaim:
          claimName: db-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: unifiappay
spec:
  selector:
    app: pix-db
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432